/*form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  flex-direction /*??? - quando atribui valor perde a configuraçao */
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color:black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}



.logonpm{
  width:50px;
}

#search-lupa{
  width:20px;
  flex-wrap: wrap
}




#search{
  display:flex;    
}

#search-text{
  display: flex;
  width: 50em;
  border-style: none;
  background-color: rgba(0,0,0,.05);
  padding: 10px;
    
}

#search-button{
  background-color: #fb3e44;
  color: white;
  display: flex;
  diplay: flex;
  justify-content: center;
  border-style: none;
  
}

#nav-bar {
  display: flex;
  list-style: none;
  justify-content: ;
     
}

button{
 background: white; 
}




/*secao01 ok*/

#amazingthings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: rgba(232,217,217,.3);    
}

#amazingthings h1{
  font-size: 50px;
  margin: 0;
}

#amazingthings article{
  width: 30%;
  margin-bottom: 30px;  
}

.buttons button{
  
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  border-style: none;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
}

.buttons a{
 text-decoration: none;
  margin-left: 40px;
  color: black;
}


/*secao2 ok*/

.triangulehexagon{
  width: 200px; 
}

#best{
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
}

#best h2{
  width: 60%;
  margin: 10px auto;
  text-align: center;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
}

#best article{
  text-align: center;
  width: 60%;
  margin: 10px auto;
}

/*secao03 ok*/

.secao3 img{
  width: 30px;
}

#general-information {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

#general-information h4{
  color: #ED1C24;
}

#general-information .text{
  width: 60%;
}

/*botao final ok*/

#creatbutton{
  display: flex;
  justify-content: center;
  padding: 70px;
  text-align: center;
}

#Button{
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
      text-decoration: none;
      border-style: none;
      width: 200px;
      font-size: 12px;
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
      margin: 20px 0;
      padding: 10px;
  } 
